.container {
  background-color: rgb(7, 17, 26);
  padding: 50px;
  color: white;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 20px;
}
.collegeLogo {
  width: 100%;
}

.logocontainer {
  width: 20%;
  background-color: white;
  position: absolute;
  left: 5%;
  bottom: -35px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ranking {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
}
.Links {
  display: flex;
  justify-content: space-between;
}
.second {
  padding-top: 40px;
  font-weight: 700;
  font-size: 0.5rem;
  line-height: 1;
}
.btns {
  display: flex;
  align-items: center;
}
.btn {
  width: 100%;
  border-radius: 0;
  width: 50%;
  padding: 6px;
  text-align: center;

  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: 12px;
  color: #ff7900;
  border: 1px solid #dedede;
}
.btn1 {
  background-color: #ff7100;
  color: white;
  border: none;
}
.btn1:hover {
  background-color: transparent;
  border: 1px solid #dedede;
  color: #a7a7a7;
}
.btn2 {
  color: #ff7100;
}
.cardcontainer {
  border: 1px solid white;
  border-radius: 5px;
  background-color: #ffffff;
  color: #a7a7a7;
  display: flex;
  flex-direction: column;
  line-height: 0;
}
.first {
  position: relative;
  background: black;
  margin: 0;
  padding: 0;
}
.collegeName {
  position: absolute;
  font-size: 15px;
  bottom: -8px;
  right: 0px;
  left: 26%;
  color: #fcfcfc;
  word-wrap: break-word;
}
.CollegeImg {
  opacity: 0.7;
}
.location {
  position: absolute;
  bottom: -30px;
  left: 26%;
  font-size: 10px;
  padding: 5px;
}
.fees {
  margin-right: auto;
}
.hr-vertical {
  margin: 10px;
  border: 1px solid rgb(219, 219, 219);
}
.Links {
  background-color: rgb(247 247 247);
  padding: 0 0.5rem;
}
p {
  padding: 8px;
  color: rgb(153, 153, 153);
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
}
.ranking {
  font-size: 14px;
  padding: 15px;
}

.icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  line-height: 1;
}
.media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}
.video {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-icon {
  font-size: 30px;
  margin-right: 10px;
}
.gallary {
  display: flex;
  justify-content: center;
}
